<div class="jumbotron">
    <div class="row">
        <div class="col-sm-8">
            <div class="row">
                <input type="text" class="form-control" ng-model="newMemoryTitle" placeholder="Titre">
            </div>
            <div class="row">
                <textarea class="form-control" rows="5" ng-model="newMemoryContent" placeholder="Contenu"></textarea>
            </div>
        </div>
        <div class="col-sm-4">
            <button type="button" class="btn btn-success btn-lg" ng-click="addMemory()">Ajouter</button>
        </div>
    </div>
</div>

<div class="jumbotron">
    <div class="row marketing memory-style" ng-repeat="memory in memories" ng-click="openMemory($index)">
        <h2>{{memory.title}}</h2>
        <p>{{memory.content}}</p>
    </div>
    <div style="clear: both;"></div>
</div>