<div class="jumbotron" ng-show="showFormNewMemory">
    <div class="row">
        <div class="col-sm-8">
            <div class="row">
                <input type="text" class="form-control" ng-model="newMemoryTitle" placeholder="Titre" ng-change="newMemoryTitleError = false">
                <div ng-show="newMemoryTitleError">champ vide !</div>
            </div>
            <div class="row">
                <textarea class="form-control" rows="5" ng-model="newMemoryContent" placeholder="Contenu" ng-change="newMemoryContentError = false"></textarea>
                <div ng-show="newMemoryContentError">champ vide !</div>
            </div>
        </div>
        <div class="col-sm-4">
            <button type="button" class="btn btn-success btn-lg" ng-click="addMemory()">Ajouter</button>
        </div>
    </div>
</div>

<div class="jumbotron">
    <div class="row marketing memory-style" ng-repeat="memory in memoriesList" ng-click="openMemory($index)">
        <h2>{{memory.title}}</h2>
        <p>{{memory.content}}</p>
    </div>
    <div class="row marketing memory-style" ng-click="showAddMemory()">
        <p style="font-size: 120px;">+</p>
    </div>
    <div style="clear: both;"></div>
</div>